* {
  margin: 0px;
  padding: 0px;
}

input:focus {
  outline: none;
}

img {
  cursor: pointer;

}
#mobilediv{
width: 40%;
justify-content: center;
}


input {
  background-color: rgb(92, 89, 89) !important;
  width: 200px;}

:root {
  background-color: black;
}

@keyframes animations {
  from {
    opacity: 0.6;
    transform: translateX(-30%);
  }

  to {
    opacity: 1;
  }
}

#movie {
  width: 30px;
  position: relative;

}

#searchimg {
  width: 20px;
}

#search {
  width: 50px !important;
}

.gold{
color: gold;
}


.info {
  background-color: rgba(0, 0, 0, 0.4) !important;
  color: rgb(255, 255, 255) !important;
  font-weight: bold !important;
  padding: 20px !important;
  text-align: center !important;
  width: 890px !important;
}

.det {
  opacity: 0.9;
}

.card-space {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 170px;
  background-position: center;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.8) !important;
  height: 60px;
  ;

}

a {
  cursor: pointer;
}

@media screen and (width >  992px) {
  .movie:hover {
    transform: translateY(-50px);
    transition: transform 0.4s
  }

  .anime {
    animation: animations;
    animation-timeline: view();
  }
}

@media screen and (width < 992px) {
#mobilediv{
width: 100%;
display: flex;
justify-content: center;

}
input{
 width: 96%;
}
}



