* {
  margin: 0px;
  padding: 0px;
}


@keyframes animations {
  from {
    opacity: 0.6;
    transform: translateX(-30%);
  }

  to {
    opacity: 1;
  }
}

:root {
  background-color: black !important;
}

.carousel-indicators [data-bs-target] {
  background-color: rgb(0, 0, 0) !important;
  width: 16px !important;
  height: 16px !important;
  border-radius: 50%;
}

.carousel-indicators .active {
  background-color: #FFCA2C !important;
}

.carousel-control-prev {
  font-size: 30px !important;
}

.carousel-control-next {
  font-size: 30px !important;
}

input:focus {
  outline: none;
}

#poster {
  width: 300px;
}

.collapse {
  display: flex;
  justify-content: space-around;
}

input {
  background-color: rgb(32, 30, 30) !important;
}

.exit {
  left: calc(100% - 20px);
  top: -10px;
  height: 30px;
  width: 30px;
  position: absolute;
  border-radius: 50%;
}

#movie {
  width: 30px;
  position: relative;
}

#searching {
  width: 20px;
  margin-bottom: 10px;
}

#search-icon {
  height: 30px;
  margin-bottom: 3px;

}

input {
  width: 150px;
  height: 30px;
  border-radius: 5px;
}


#search-icon-mobile {
  width: 15px;

}

#searching-mobile {
  width: 50px;
}

#input-mobile {
  width: calc(100% - 100px);
  height: 40px;
  border-radius: 5px;
}


.container-info {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding: 10px;
  max-width: 900px;
  opacity: 0.9;
  display: flex;
  margin: auto;
  height: 400px;
}

.info {
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: 5px;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 80px;
  padding: 0px !important;
}

.navbar {
  background-color: black;
}

a {
  cursor: pointer;
}

@media screen and (width > 992px) {

  .movie:hover {
    transform: translateY(-20px);

  }

  .anime {
    animation: animations;
    animation-timeline: view();
  }}

@media screen and (width < 992px) {

  input {
    display: 100px;
  }

  .imgcarrossel {
    height: 300px !important;
  }
}

@media screen and (width < 950px) {

  .container-info {
    height: 350px;
    width:  560px;
    font-size: 12px;
  }

  .info {
    height: 340px;
  }

  .exit {
    left: calc(100% - 23px);
    bottom: calc(100% - 20px);
  }

}

@media screen and (width < 576px) {


  .card-title {
    font-size: 12px !important;
  }

  .container-info {
    max-height: 450px;
    width: 250px;
    font-size: 12px;
    flex-direction: column;
    text-align: center;
  }

  #poster {
    display: none;
  }

  .exit {
    left: calc(100% - 20px);
    position: absolute;
  }

  .info {
    justify-content: center;
    margin-left: 0px;
  }

  .stars {
    margin: 10px auto;
  }

  #mobilediv {
    display: block;
  }
  .card-body{
   height: 70px;
   justify-content: space-evenly;
  }

}